<!-- <ba-card class="col-xlg-6 col-xl-6 col-lg-12 col-sm-12 col-xs-12" title="Zoeken klant" baCardClass="custsearch-card  with-scroll">
    <customer-search></customer-search>
</ba-card>-->
<ba-card  class="col-xlg-6 col-xl-6 col-lg-12 col-sm-12 col-xs-12" title="Details" baCardClass="custdetail-card  with-scroll">
    <customer-detail [customer]="customer"></customer-detail>
</ba-card>
<ba-card  class="col-xlg-12 col-xl-12 col-lg-12 col-sm-12 col-xs-12" title="Documenten" baCardClass="custdetail-card  with-scroll">
    <customer-documents [customer]="customer"></customer-documents>
</ba-card>