<!--<ba-card  class="col-xlg-6 col-xl-6 col-lg-12 col-sm-12 col-xs-12" title="Details" baCardClass="custdetail-card  with-scroll">
    <customer-identity [customer]="customer"></customer-identity>
    

</ba-card>
<ba-card  class="col-xlg-6 col-xl-6 col-lg-12 col-sm-12 col-xs-12" title="Documenten" baCardClass="custdetail-card  with-scroll">
    <customer-document-counters [customer]="customer"></customer-document-counters>
</ba-card>-->
<ul class="btn-list clearfix">
  <li>
    <button (click)="search()" type="button" class="btn btn-primary btn-with-icon"><i class="ion-search"></i>Zoeken</button>
  </li>
</ul>
<router-outlet></router-outlet>
