
	<div class="channels-block">
		<div class="chart-bg"></div>
		<div class="livesales-chart" id="livesalesChart">
			<div class="canvas-holder">
				<canvas class="chart-area" width="300px" height="300px"></canvas>
				<div class="livesales-text">
					{{TotalRevenue|currency:'EUR':true}}
					<span>Dagomzet</span>
				</div>
			</div>
			<div class="livesales-legend"></div>
		</div>

		<div class="channels-info">
			<div>
				<div class="channels-info-item" *ngFor="let item of doughnutData">
					<div class="legend-color" [ngStyle]="{'background-color': item.color }"></div>
					<p>{{ item.label }}: {{item.value}} <span class="channel-number">+{{ item.percentage | number:'.2-2'}}%</span></p>
					<div class="progress progress-sm channel-progress" *ngIf="(item.percentage <= 100)">
						<div class="progress-bar" role="progressbar" [attr.aria-valuenow]="item.percentage" aria-valuemin="0" aria-valuemax="100"
							[ngStyle]="{width: item.percentage + '%' }">
						</div>
					</div>
                    <div class="progress progress-sm channel-overprogress" *ngIf="(item.percentage > 100)">
						<div class="progress-bar" role="progressbar" [attr.aria-valuenow]="item.percentage" aria-valuemin="0" aria-valuemax="100"
							[ngStyle]="{width: (item.percentage-100) + '%' }">
						</div>
					</div>
				</div>
			</div>
            <div style="margin-top:25px">Datum: {{reportDate | date:'dd-MM-yyyy'}}</div>
            <div >Laatste Update: {{latestUpdate | date:'dd-MM HH:mm:ss '}}</div>
		</div>
	</div>
